/* Configurações básicas */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #313045dd;
    padding: 10px 20px;
}

header img {
    max-height: 200px; 
    width: auto; 
}

h1 {
    color: #e60000;
}

button {
    background-color: #e60000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3333;
}
.hero-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.hero-column {
    background-color: #111;
    border: 2px solid #e60000;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.hero-column:hover {
    transform: scale(1.05);
}

.hero-column img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

h2 {
    color: #e60000;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #ccc;
}

/* Remove margens e padding padrão */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Define o layout flexível */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe a altura da janela */
}

/* Wrapper para o conteúdo */
.content-wrapper {
    flex: 1; /* Faz o conteúdo ocupar o espaço restante */
}

/* Estilo do footer */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    border-top: 2px solid #e60000;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}