body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #38366e;
    padding: 10px 20px;
}

header img {
    max-height: 200px; 
    width: auto; 
}


.container {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #e60000;
}

h1 {
    color: #e60000;
}

.question {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #e60000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3333;
}

#results {
    margin-top: 20px;
    font-size: 18px;
    color: #e60000;
}

/* Remove margens e padding padrão */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Define o layout flexível */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe a altura da janela */
}

/* Wrapper para o conteúdo */
.content-wrapper {
    flex: 1; /* Faz o conteúdo ocupar o espaço restante */
}

/* Estilo do footer */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    border-top: 2px solid #e60000;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}